* {
    padding: 0;
    margin: 0;
}

.footer_all {
    height: 32vh;
    display: flex;
    background-color: rgb(0, 0, 245);
}

.footer_left_side {
    padding: 14px 0;
    margin: 0 60vw 0 7vw;
}

.footer_img {
    display: flex;
    align-items: center;
}

.footer_img img {
    width: 70px;
    border: 3px solid white;
    border-radius: 50%;
}

.footer_img h1 {
    margin-left: 14px;
    color: white;
}

.footer_centre {
    display: flex;
    position: absolute;
    margin: 3vh 0 1vh 48vw;
    justify-content: center;
}

.footer_centre h3 {
    color: white;
    font-size: 23px;
}

.footer_paragraph {
    text-align: left;
}

.footer_paragraph p {
    font-size: 19px;
    margin: 10px 0 14px 7vw;
    color: white;
    line-height: 1.3;
    letter-spacing: 3px;
}

.footer_centre a {
    padding: 0 0 0 10px;
    color: white;
    text-decoration: none;
    line-height: 1.7;
}

.footer_centre_left {
    display: grid;
    margin: 0 5vw 0 0;
}

.footer_centre_centre {
    display: grid;
    margin: 0 5vw 0 0;
}

.footer_centre_right {
    display: grid;
    margin: 0 5vw 0 0;
}

.footer_right {
    display: grid;
    position: absolute;
    margin: 3vh 0 1vh 84vw;
}

.footer_right a {
    padding: 0 0 0 10px;
    color: white;
    text-decoration: none;
    line-height: 1.7;
}

.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 199);
    height: 50px;
}

.footer_right h3 {
    color: white;
    font-size: 23px;
}

.footer_copyright p {
    color: white;
}


@media screen and (max-width: 1920px) {
    .footer_paragraph p {
        margin: 10px 0 14px 90px;
    }
}

@media screen and (max-width: 1000px) {
    .footer_all {
        height: 27vh;
    }

    .footer_paragraph p {
        margin: 10px 0 14px 10vw;
    }

    .footer_centre {
        margin: 5vh 0 0 43vw;
    }
}

@media screen and (max-width: 871px) {
    .footer_img h1 {
        font-size: 1.5rem;
    }

    .footer_paragraph p {
        margin: 10px 0 14px 5vw;
    }

    .footer_centre {
        margin: 5vh 0 0 48vw;
    }

    .footer_centre_right {
        display: none;
    }

    .footer_right {
        margin: 5vh 0 0 81vw;
    }
}

@media screen and (max-width: 700px) {
    .footer_img img {
        width: 50px;
    }

    .footer_paragraph p {
        margin: 10px 0 14px 4vw;
    }

    .footer_left_side {
        margin: 0 60vw 0 3vw;
    }

    .footer_centre {
        margin: 5vh 0 0 43vw;
    }
}

@media screen and (max-width: 610px) {
    .footer_img h1 {
        font-size: 1.2rem;
    }

    .footer_paragraph p {
        margin: 10px 0 14px 4.5vw;
    }

    .footer_right {
        display: none;
    }

    .footer_left_side {
        margin: 0 52vw 0 5vw;
    }

    .footer_centre {
        margin: 5vh 0 0 55vw;
    }
}

@media screen and (max-width: 530px) {
    .footer_img h1 {
        font-size: 1rem;
    }

    .footer_paragraph p {
        margin: 10px 0 14px 2vw;
    }

    .footer_left_side {
        margin: 0 46vw 0 5vw;
    }

    .footer_centre {
        margin: 5vh 0 0 50vw;
    }

    .footer_copyright p {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .footer_paragraph p {
        font-size: 14px;
    }
}

@media screen and (max-width: 412px) {
    .footer_left_side {
        margin: 0 41vw 0 5vw;
    }

    .footer_centre_left {
        display: none;
    }

    .footer_centre {
        margin: 5vh 0 0 60vw;
    }
}